{% extends 'realty_pulse/base.html' %}

{% block title %}{{ city.name }} Details - Property Pulse App{% endblock %}

{% block content %}
    <div class="mt-4">
        <h1>{{ city.name }}</h1>

        <dl class="row mt-4">
            <dt class="col-sm-3"><strong>ROI:</strong></dt>
            <dd class="col-sm-9">{{ city.roi }}%</dd>

            <dt class="col-sm-3"><strong>Population:</strong></dt>
            <dd class="col-sm-9">{{ city.population }}</dd>

            <dt class="col-sm-3"><strong>Move-in Data:</strong></dt>
            <dd class="col-sm-9">{{ city.move_in_data }}</dd>

            <dt class="col-sm-3"><strong>Move-out Data:</strong></dt>
            <dd class="col-sm-9">{{ city.move_out_data }}</dd>
        </dl>

        <a href="{% url 'realty_pulse:city_list' %}" class="btn btn-secondary mt-4">Back to City List</a>
    </div>
{% endblock %}
